* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightpink;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  border: 1px black solid;
  height: 50vh;
}
.title {
  display: flex;
  border: 1px solid black;
  background-color: aqua;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 23rem;
  height: 10vh;
  border-bottom: 1px solid rgb(169, 169, 169);
}
.user input {
  width: 15rem;
  height: 4vh;
  border: solid 1px rgb(169, 169, 169);
  border-radius: 15px 0 0 15px;
  margin-right: 0;
}
.user button {
  height: 4vh;
  width: 4rem;
  border: none;
  background-color: burlywood;
  border-radius: 0 15px 15px 0;
  margin-left: 0;
}
.list {
  min-width: 23rem;
  min-height: 34vh;
  border: 1px solid black;
  max-height: max-content;
}
