* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='524' height='524' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='5.3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
}
.container {
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: 20vh auto auto auto;
  min-height: max-content;
  box-shadow: 0px 5px 20px 0px white;
  max-width: 25em;
  
  
}
.title {
  display: flex;
  background-color:transparent;
  width: 23rem;
  height: 10vh;
  justify-content: center;
  align-items: center;

  border-radius: 10px 10px 0 0 ;color: whitesmoke;
  font-size: 1.5rem;
  
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 23em;
  height: 13vh;
  /* border-bottom: 1px solid rgb(169, 169, 169); */

}
.user input {
  width: 20rem;
  height: 5vh;
  border: none;
  border-radius: 15px 0 0 15px;
  margin-left: 2rem;
  padding: 1rem;
}
input:focus{
  outline: none;
}
.user button {
  height: 5vh;
  width: 4em;
  border: none;
  background-color:rgb(199, 245, 153);
  border-radius: 0 15px 15px 0;
  margin-left: 0;
}
.list {
  min-width: 23em;
  min-height: 50vh;
  max-height: max-content;
  background-color: transparent;
  border-radius: 0  0 10px 10px;
}

.appendli{
  list-style-type: none;
  line-height: 2rem;
  border-bottom: 1px solid rgb(169, 169, 169);
  padding: 0.4rem;
  color: white;
  font-weight: 200;
  font-size: 1.3rem;
  text-transform: capitalize;
}

i.fas.fa-check{
  margin-left: 15rem;
}

 i.fas.fa-check, i.fas.fa-trash-alt {
  cursor: pointer;
  transition: all 0.5s;
  padding: 0.5rem;
  /* display: none; */
  
}

i.fas.fa-check:hover {
  transform: scale(1.8);
  color: #0c9463;
  
  
}

i.fas.fa-trash-alt:hover {
  transform: scale(1.3);
  color:#E3371E ;
}
i.fas.fa-check:active {
  transform: translateY(5px);
}
i.fas.fa-trash-alt:active {
  transform: translateY(3px);
}