* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightpink;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  height: 80vh;
}
.title {
  display: flex;
  background-color: aqua;
  width: 23rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0 ;
  
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 23rem;
  height: 13vh;
  border-bottom: 1px solid rgb(169, 169, 169);
}
.user input {
  width: 15rem;
  height: 5vh;
  border: solid 1px rgb(169, 169, 169);
  border-radius: 15px 0 0 15px;
  margin-right: 0;
  padding: 1rem;
}
.user button {
  height: 5vh;
  width: 4rem;
  border: none;
  background-color: burlywood;
  border-radius: 0 15px 15px 0;
  margin-left: 0;
}
.list {
  min-width: 23rem;
  min-height: 50vh;
  max-height: max-content;
  background-color: white;
  border-radius: 0  0 10px 10px;
}

.appendli{
  list-style-type: none;
  line-height: 2rem;
  border-bottom: 1px solid rgb(169, 169, 169);
  padding: 0.4rem;

}

i.fas.fa-check{
  margin-left: 14rem;
}

 i.fas.fa-check, i.fas.fa-trash-alt {
  cursor: pointer;
  transition: all 0.3s;
  padding: 0.5rem;
  /* opacity: 0; */

}

i.fas.fa-check:hover {
  transform: scale(1.8);
  color: #0c9463;
  
  
}

i.fas.fa-trash-alt:hover {
  transform: scale(1.3);
  color:#E3371E ;
}
i.fas.fa-check:active {
  transform: translateY(5px);
}
i.fas.fa-trash-alt:active {
  transform: translateY(3px);
}